<!DOCTYPE html>
<html>
  <head>
    <title>Mercury</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_packs_with_chunks_tag 'application' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
    <%= yield :head %>
    <%= turbo_include_tags %>
    <%= stimulus_include_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
